{% extends "@CloudSandwichCore/public_layout.html.twig" %}
{% block body %}
    test <i class="fa fa-minus-circle"></i>
    <a href="{{ path("cloudsandwich_core_default_authindex") }}">private</a>
{% endblock %}