{% extends "@CloudSandwichFile/Default/file.html.twig" %}
{% block fileicon %}<i class="fa fa-file-text"></i>{% endblock %}
{% block filename %}<a href="{{ path("cloudsandwich_file_default_serve",{'file':name,'folder':folder}) }}"> {{ name }}</a>{% endblock %}