<li class="file">
    <a href="{{ path("cloudsandwich_file_default_serve",{'file':name,'folder':folder}) }}" target="_blank" data-toggle="modal" data-target="#myModal-{{ modalname }}" ><i class="fa fa-file-text"></i> {{ name }}</a>
</li>