{% extends "@CloudSandwichCore/base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("bundles/cloudsandwichcore/css/pagespecific/cloudsandwich.css") }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">

        <!-- Static navbar -->
        <div class="navbar navbar-default navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path("cloudsandwich_core_default_index") }}">Cloud-sandwich</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% include "@CloudSandwichCore/Default/userlinks.html.twig" %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </div>
        {% block body %}{% endblock %}
    </div> <!-- /container -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
